<h2>Show Cart</h2>

<ul>

  <li>
    <strong>Cart type:</strong>
    <%= @cart.cart_type %>
  </li>

  <li>
    <strong>User id:</strong>
    <%= @cart.user_id %>
  </li>

</ul>

<table class="table table-striped">
  <%= Enum.map @cart.cart_items, fn item -> %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.count %></td>
      <td><%= item.product.price %></td>
      <td><%=
link(
  raw("&times;"),
  to: cart_item_path(@conn, :delete, item),
  method: :delete,
  class: "btn btn-danger btn-xs"
)
        %></td>
    </tr>
  <% end %>

    <tr>
      <td>Total:</td>
      <td><%= NuMartWeb.CartView.total_price(@cart) %></td>
      <td>&nbsp;</td>
    </tr>
</table>

<span><%= link "Edit", to: cart_path(@conn, :edit, @cart) %></span>
<span><%= link "Back", to: cart_path(@conn, :index) %></span>
