
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link("Products", to: product_path(@conn, :index)) %></li>
  <li class="breadcrumb-item active"><%= @product.name %></li>
</ol>

<h2><%= @product.name %></h2>

<%= if is_admin?(@current_user) do %>
  <p><span><%= link "Edit", to: product_path(@conn, :edit, @product) %></span></p>
<% end %>

<p><%= img_tag(static_path(@conn, "/images/goat.jpg"), class: "w-50") %></p>

<p><%= @product.desc %></p>

<p>Price: $<%= @product.price %></p>

<%= form_for @cart_item, cart_item_path(@conn, :create), [class: "form-inline"], fn f -> %>
  <%= if @cart_item.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= hidden_input f, :cart_id %>
  <%= hidden_input f, :product_id %>

  <div class="form-group">
    <%= number_input f, :count, class: "form-control" %>
    <%= error_tag f, :count %>
  </div>

  <div class="form-group">
    <%= submit "Add to Cart", class: "btn btn-primary" %>
  </div>
<% end %>

<div id="product-reviews"
     data-path="<%= review_path(@conn, :index) %>"
     data-product_id="<%= @product.id %>">
  &nbsp;
</div>

<script id="reviews-template" type="text/x-handlebars-template">
  <div class="m-2">
    <h2>Reviews</h2>

    {{#each data}}
    <div class="card w-75 m-2">
      <div class="card-body">
        <h6 class="">{{user_email}}</h6>
        <div class="card-text">
          <p>Stars: {{stars}}</p>
          <p>{{comment}}</p>
        </div>
      </div>
    </div>
    {{else}}
    <p>No reviews yet.</p>
    {{/each}}
  </div>
</script>

<%= if @current_user do %>
<div class="m-2">
  <h2>Add Review</h2>
  <textarea id="review-comment" class="form-control"></textarea>
  <button id="review-add-button" class="btn btn-primary"
          data-user-id="<%= @current_user.id %>">Add Review</button>
</div>
<% end %>


